### Intellij ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries

# Mongo Explorer plugin:
.idea/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

### Intellij Patch ###
# Comment Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721

 *.iml
 modules.xml
/.idea/Ai.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea

.idea
.vscode/settings.json
Terza consegna/Codice/__pycache__/Constraint.cpython-311.pyc
Terza consegna/Codice/__pycache__/Node.cpython-311.pyc
Terza consegna/Codice/__pycache__/tree.cpython-311.pyc
Terza consegna/Codice/__pycache__/Variable.cpython-311.pyc
.gitignore
Terza consegna/Codice/__pycache__/constraintGraph.cpython-311.pyc
Terza consegna/Codice/__pycache__/dfs.cpython-311.pyc
Quarta consegna/slides/lect12.1x.pdf
Quarta consegna/slides/lect13.1.pdf
Quarta consegna/slides/lect13.2.pdf
Quarta consegna/slides/lect14.pdf
Quarta consegna/slides/Lecture15/logicAssumables.py
Quarta consegna/slides/Lecture15/logicBottomUp.py
Quarta consegna/slides/Lecture15/logicExplain.py
Quarta consegna/slides/Lecture15/logicNegation.py
Quarta consegna/slides/Lecture15/logicProblem.py
Quarta consegna/slides/Lecture15/logicTopDown.py
Quarta consegna/slides/Lecture16/assignment4.pdf
Quarta consegna/slides/Lecture16/bk1.pl
Quarta consegna/slides/Lecture16/bk2.pl
Quarta consegna/slides/Lecture16/burger1.pl
Quarta consegna/slides/Lecture16/burger2.pl
Quarta consegna/slides/Lecture16/fact.pl
Quarta consegna/slides/Lecture16/hanoi.pl
Quarta consegna/slides/Lecture16/list.pl
Quarta consegna/slides/Lecture16/Prolog-gdg-sc-EnglishIntroduction2017.pdf
Quarta consegna/slides/Lecture16/prolog-notes.pdf
Quarta consegna/slides/Lecture16/simplechatbot.pl
Quarta consegna/slides/Lecture16/smm.pl
Quarta consegna/slides/Lecture16/test.pl
Quarta consegna/slides/Lecture16/test1
Quarta consegna/slides/Lecture16/test3
Quarta consegna/slides/Lecture16/test3.pl
Quarta consegna/slides/Lecture16/test4.pl
Quarta consegna/slides/Lecture16/prolog_python/prolog1.pl
Quarta consegna/slides/Lecture16/prolog_python/pytest2.py
